<div class="container d-flex flex-column border-frame" >
  <nav >
    <ul>
      <li><a [routerLink]="['./']"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact:true}"
      > Homepage </a></li>
      <li> <a [routerLink]="['users']"
              routerLinkActive="active"
              [queryParams]="{details:true}"
              [routerLinkActiveOptions]="{exact:false}"
      > Users </a> </li>
    </ul>
  </nav>
  <div class="m-20">
    <router-outlet></router-outlet>
  </div>
</div>
