<h3>Les directives</h3>
<p>(src/app/demos/demos01-databinding/directives/directives.component.html)</p>
<div class="d-flex flex-column">
  <p>Selon la définition d’Angular : “les directives vous permettent d'attacher un comportement aux éléments du DOM”.</p>
  <p>Une directive doit appartenir à un module (NgModule) afin de pouvoir être utilisée par une autre directive, un composant ou une application. Pour spécifier qu'une directive fait partie d'un NgModule, vous devez la déclarer sur la propriété declarations des métadonnées du NgModule.</p>
  <p>Dans Angular il existe trois types de directives : les composants, les directives d’attribut et les directives structurelles.</p>
  <p>Nous connaissons déjà les composants voyons les deux autres types de directives.</p>

  <h4>1) Les directives d’attribut (attribute directive)</h4>

  <p>Les directives d’attribut modifient le comportement ou l’apparence d’un élément.</p>

  <p>Les directives natives de ce type sont ngStyle et ngClass que nous étudierons.</p>

  <h4>Les directives structurelles (structural directive)</h4>

  <p>Les directives structurelles modifient la structure du DOM, par exemple en ajoutant, supprimant ou manipulant des éléments.</p>

  <p>Les directives structurelles sont facilement reconnaissables car elles commencent par un astérisque * qui est en fait un raccourci syntaxique pour ng-template.</p>

  <p>Des exemples de directives natives de ce type sont ngFor, ngIf et ngSwitch que nous étudierons également.</p>

</div>


