<div class="container">
  <nav>
    <div class="version">
      <span>Angular CLI: 10.1.7</span> <br/>
      <span>Node: 12.20.0</span> <br/>
      <span>Angular: 10.1.6</span>
    </div>
    <a routerLink="demos/demos01-databinding" class="bg-green" routerLinkActive="active">demos01-databinding</a>
    <a routerLink="demos/demos02-composants" class="bg-green" routerLinkActive="active">demos02-composants</a>
    <a routerLink="demos/demos03-directives" class="bg-green" routerLinkActive="active">demos03-directives</a>
    <a routerLink="demos/demos04-injection-dependances" class="bg-green" routerLinkActive="active">demos04-injection-dependances</a>
    <a routerLink="demos/demos05-observable" class="bg-green" routerLinkActive="active">demos05-observable</a>
    <a routerLink="demos/demos06-directive-service" class="bg-green" routerLinkActive="active">demos06-directive-service</a>
    <a routerLink="demos/demos07-routing" class="bg-orange" routerLinkActive="active">demos07-routing</a>
    <a routerLink="demos/demos08-formulaire" routerLinkActive="active">demos08-formulaire</a>
    <a routerLink="demos/demos09-pipes" routerLinkActive="active">demos09-pipes</a>
    <a routerLink="demos/demos10-requetes-http" routerLinkActive="active">demos10-requetes-http</a>
    <a routerLink="demos/demos11-modules" routerLinkActive="active">demos11-modules</a>
    <a routerLink="demos/demos12-animations" routerLinkActive="active">demos12-animations</a>
    <a routerLink="demos/demos13-test" routerLinkActive="active">demos13-test</a>
    <a routerLink="demos/demos14-material" routerLinkActive="active">demos14-material</a>
    <a routerLink="demos/demos15-jwt" routerLinkActive="active">demos15-jwt</a>
    <a routerLink="demos/demos16-rxjs" routerLinkActive="active">demos16-rxjs</a>
    <a routerLink="demos/demos17-rxjs-test" routerLinkActive="active">demos17-rxjs-test</a>
    <a routerLink="demos/demos18-worker-pwa" routerLinkActive="active">demos18-worker-pwa</a>
    <a routerLink="demos/demos19-universal" routerLinkActive="active">demos19-universal</a>
    <a routerLink="demos/demos20-librarie-personnelle" routerLinkActive="active">demos20-librairie-personnelle</a>
    <a routerLink="demos/demos21-formulaire-avancee" routerLinkActive="active">demos21-formulaire-avancee</a>
    <a routerLink="demos/demos22-gestion-chargement" routerLinkActive="active">demos22-gestion-chargement</a>
    <a routerLink="demos/demos23-upload-fichiers" routerLinkActive="active">demos23-upload-fichiers</a>
    <a routerLink="demos/demos24-sentry-erreurs" routerLinkActive="active">demos24-sentry-erreurs</a>
    <a routerLink="demos/demos25-services-meta-title" routerLinkActive="active">demos25-services-meta-title</a>
    <a routerLink="demos/demos26-i18n" routerLinkActive="active">demos26-i18n</a>
    <a routerLink="demos/demos27-push-notifications" routerLinkActive="active">demos27-push-notifications</a>

    <a routerLink="projets/projet01-cocktails" class="bg-green" routerLinkActive="active">projet01-cocktails</a>
    <a routerLink="projets/projet02-input-output" class="bg-green" routerLinkActive="active">projet02-input-output</a>
    <a routerLink="projets/projet03-directive-service" class="bg-green" routerLinkActive="active">projet03-directive-service</a>
    <a routerLink="projets/projet04-routing" routerLinkActive="active">projet04-routing</a>
    <a routerLink="projets/projet05-formulaires" routerLinkActive="active">projet05-formulaires</a>
    <a routerLink="projets/projet06-pipe-http" routerLinkActive="active">projet06-pipe-http</a>
    <a routerLink="projets/projet07-ngrx" routerLinkActive="active">projet07-ngrx</a>
    <a routerLink="projets/projet08-todolist" routerLinkActive="active">projet08-todolist</a>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
